{% extends "base.html" %}
{% load static %}
{% block titulo %} Inicio {% endblock %}
{% block cabecera %} 
<link rel="stylesheet" href="{% static 'css/inicio.css' %}"> 
{% endblock %}

{% block cuerpo %}
<h1 class="text-center"> Welcome to Torre-Sport App </h1>
<div class="table-responsive">
    <table class="table table-dark">    
            <tr>
                <td><a href="{% url 'torre_sport:list_deportes' %}"> Deportes </a></td>
                <td><a href="{% url 'torre_sport:list_equipos' %}"> Equipos </a></td>
                <td><a href="{% url 'torre_sport:list_instalaciones' %}"> Instalaciones </a></td>
                <td><a href="{% url 'torre_sport:list_jugadores' %}"> Jugadores </a></td>
                <td><a href="{% url 'torre_sport:list_partidos' %}"> Partidos </a></td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <img src="{% static 'img/koby.avif' %}" alt="Black mamba."/>
    </div>
</div>
<br><br><br>
<div class="table-responsive">
    <h1 class="text-center"> Últimos 5 partidos </h1>
    <table class="table table-dark"> 
        <thead>
            <tr>
                <th>Fecha y Hora</th>
                <th>Equipo Local</th>
                <th>Equipo Visitante</th>
                <th>Resultado</th>                                            
            </tr>
        </thead>
        <tbody>
            {% for partido in ultimos %}
            <tr>
                <td>{{ partido.fecha_hora }}</td>
                <td>{{ partido.id_local }}</td>
                <td>{{ partido.id_visitante }}</td>
                <td>{{ partido.puntos_local }} - {{ partido.puntos_visitante }}</td>                                   
            </tr>
            {% endfor %}
        </tbody>
</table>
</div>
<br><br><br>
<div class="table-responsive">
    <h1 class="text-center"> Próximos 5 partidos </h1>
    <table class="table table-dark"> 
        <thead>
            <tr>
                <th>Fecha y Hora</th>
                <th>Equipo Local</th>
                <th>Equipo Visitante</th>                                                                           
            </tr>
        </thead>
        <tbody>
            {% for partido in proximos %}
            <tr>
                <td>{{ partido.fecha_hora }}</td>  
                <td>{{ partido.id_local }}</td>
                <td>{{ partido.id_visitante }}</td>                                          
            </tr>
            {% endfor %}
        </tbody>
    </table>   
</div>

{% endblock %}