{% extends "base.html" %}
{% load static %}
{% block titulo %} Inicio {% endblock %}
{% block cabecera %} 
<link rel="stylesheet" href="{% static 'css/inicio.css' %}"> 
{% endblock %}

{% block cuerpo %}
<h1 class="text-center"> Welcome to Torre-Sport App </h1>
<div class="table-responsive">
    <table class="table table-dark">    
            <tr>
                <td><a href="{% url 'torre_sport:list_deportes' %}"> Deportes </a></td>
                <td><a href="{% url 'torre_sport:list_equipos' %}"> Equipos </a></td>
                <td><a href="{% url 'torre_sport:list_instalaciones' %}"> Instalaciones </a></td>
                <td><a href="{% url 'torre_sport:list_jugadores' %}"> Jugadores </a></td>
                <td><a href="{% url 'torre_sport:list_partidos' %}"> Partidos </a></td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <img src="{% static 'img/koby.avif' %}" alt="Black mamba."/>
    </div>
</div>

{% endblock %}