{% extends "base.html" %}
{% load static %}
{% block titulo %} Deportes {% endblock %}


{% block cabecera %} 
<link rel="stylesheet" href="{% static 'css/inicio.css' %}"> 
{% endblock %}

{% block cuerpo %}
<h2 class="text-center"> Deportes </h2>

<div class="table-responsive">
    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for deporte in object_list %}
            <tr>
                <td>{{ deporte.id_deporte }}</td>
                <td>{{ deporte.nombre }}</td>
                <td>
                    {% comment %} <a href="{% url 'torre_sport:actualizar_deporte' %}">[Agregar]</a> {% endcomment %}
                    <a href="{% url 'torre_sport:actualizar_deporte' deporte.pk %}">[Actualizar]</a>
                    <a href="{% url 'torre_sport:borrar_deporte' deporte.pk %}">[Borrar]</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<a href="{% url 'torre_sport:inicio' %}"><input type="button" value="Volver"></a>
{% endblock %}