{% extends "base.html" %}
{% load static %}
{% block cabecera %} 
<link rel="stylesheet" href="{% static 'css/inicio.css' %}"> 
{% endblock %}

{% block cuerpo %}
<h2 class="text-center"> Instalaciones </h2>

<div class="table-responsive">
    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">ID instalación</th>
                <th scope="col">Instalación</th>
                <th scope="col">Direccion</th>
                <th scope="col">Iluminación</th>
                <th scope="col">Cubierta</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for instalacion in object_list %}
            <tr>
                <td>{{ instalacion.id_instalacion }}</td>
                <td>{{ instalacion.nombre }}</td>
                <td>{{ instalacion.direccion }}</td>
                <td>{% if instalacion.iluminacion %}
                    Si 
                    {% else %}
                    No
                    {% endif %}
                </td>
                <td>{% if instalacion.cubierta %}
                    Si 
                    {% else %}
                    No
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'torre_sport:actualizar_instalacion' instalacion.pk %}">[Actualizar]</a>
                    <a href="{% url 'torre_sport:borrar_instalacion' instalacion.pk %}">[Borrar]</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="text-center">
<a href="{% url 'torre_sport:inicio' %}"><input type="button" value="Volver"></a>
<a href="{% url 'torre_sport:crear_instalacion' %}"><input type="button" value="Añadir"></a>
</div>
{% endblock %}