{% extends "base.html" %}
{% load static %}
{% block cabecera %} 
<link rel="stylesheet" href="{% static 'css/inicio.css' %}"> 
{% endblock %}

{% block cuerpo %}
<h2 class="text-center"> Equipos </h2>

<div class="table-responsive">
    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Id deporte</th>
                <th scope="col">Contacto</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for equipo in object_list %}
            <tr>
                <td>{{ equipo.nombre }}</td>
                <td>{{ equipo.id_deporte }}</td>
                <td>{{ equipo.contacto }}</td>
                <td>
                    <a href="{% url 'torre_sport:actualizar_equipo' equipo.pk %}">[Actualizar]</a>
                    <a href="{% url 'torre_sport:borrar_equipo' equipo.pk %}">[Borrar]</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="text-center">
<a href="{% url 'torre_sport:inicio' %}"><input type="button" value="Volver"></a>
<a href="{% url 'torre_sport:crear_equipo' %}"><input type="button" value="Añadir"></a>
</div>
{% endblock %}