{% extends "base.html" %}
{% load static %}
{% block cabecera %} 
<link rel="stylesheet" href="{% static 'css/inicio.css' %}"> 
{% endblock %}

{% block cuerpo %}
<h2 class="text-center"> Jugadores </h2>

<div class="table-responsive">
    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">Id deporte</th>
                <th scope="col">Fecha hora</th>
                <th scope="col">Id equipo local</th>
                <th scope="col">Id equipo visitante</th>
                <th scope="col">Puntos local</th>
                <th scope="col">Puntos visitante</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for partido in object_list %}
            <tr>
                <td><a href="{% url 'torre_sport:detalle_partido' partido.pk %}">{{ partido.id_deporte }}</a></td>
                <td>{{ partido.fecha_hora }}</td>
                <td>{{ partido.id_local }}</td>
                <td>{{ partido.id_visitante }}</td>
                <td>{{ partido.puntos_local }}</td>
                <td>{{ partido.puntos_visitante }}</td>
                <td>
                    <a href="{% url 'torre_sport:actualizar_partido' partido.pk %}">[Actualizar]</a>
                    <a href="{% url 'torre_sport:borrar_partido' partido.pk %}">[Borrar]</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="text-center">
<a href="{% url 'torre_sport:inicio' %}"><input type="button" value="Volver"></a>
<a href="{% url 'torre_sport:crear_partido' %}"><input type="button" value="Añadir"></a>
</div>
{% endblock %}